/* MAIN CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ROOT */
:root {
    --pri-color: #262E8E;
    --sec-color: #f7f7f7;
    --ter-color: ;

    --footer: #040B5F;
    --background-color: ;
    --icon-color: ;
}


* {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--pri-color);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--pri-color);
    margin-bottom: .5rem;
    margin-top: 5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    margin-bottom: .5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--pri-color);
    background-color: var(--background-color);
    padding: .5rem 1.5rem;
    border-radius: 50px;
    border: var(--pri-color) solid 1px;
    transition: .3s;
}

.button:hover {
    background-color: var(--pri-color);
    color: #fff;
    scale: 1.1;
}

.link {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    transition: .3s;
    color: #000;
}

.link:hover, .logo-nav:hover {
    scale: 1.1;
    color: var(--pri-color);
}

/* LOADING */
.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal-2 {
    transform: translateX(-50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.reveal-2.active{
    transform: translateX(0);
    opacity: 1;
}

.t2 {
    transition-delay: .2s;
}

.t4 {
    transition-delay: .4s;
}

.t6 {
    transition-delay: .6s;
}


