/* MAIN CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ROOT */
:root {
    --pri-color: #53629E;
    --sec-color: ;
    --ter-color: ;

    --footer: #473472;
    --background-color: #f7f7f7;
    --icon-color: ;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--pri-color);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--pri-color);
    margin-bottom: .5rem;
    margin-top: 5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    margin-bottom: .5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--pri-color);
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: var(--pri-color) solid 1px;
    transition: .3s;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: var(--pri-color);
    color: #fff;
    scale: 1.05;
}

.link {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    transition: .3s;
    color: #000;
}

.link:hover, .logo-nav:hover {
    scale: 1.1;
    color: var(--pri-color);
}

.actions {
    display: flex;
    justify-content:space-between;
    gap: 1rem;
}

/* LOADING */
.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal-2 {
    transform: translateX(-50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.reveal-2.active{
    transform: translateX(0);
    opacity: 1;
}

.t2 {
    transition-delay: .2s;
}

.t4 {
    transition-delay: .4s;
}

.t6 {
    transition-delay: .6s;
}


