/* HEADER */

header {
    z-index: 3;
    position: sticky;
    top: 0;
    left: 0;
}

.nav {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 80px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.nav > a {
    font-family: 'Inter', sans-serif;
}

.logo-nav {
    width: 120px;
    margin-bottom: .5rem;
    transition: .3s;
    cursor: pointer;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--pri-color);

}

.hamburger {
    display: none;
    width: 40px;
}

.kontakt {
    width: 80px;
}

@keyframes nav {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes nav-c {
    0% {opacity:1;}
    100% {opacity:0;}
}

#nav_hamburger {
    cursor: pointer;
    display: none;
}

#nav_hamburger > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #000;
}

#nav_hamburger > span:not(:last-child) {
    margin-bottom: 7px;
}

#nav_hamburger,
#nav_hamburger > span {
    transition: all .4s ease-in-out;
}

#nav_hamburger.active {
    transition-delay: 0.4s;
    transform: rotate(45deg);
}

#nav_hamburger.active > span:nth-child(2) {
    width: 0;
}

#nav_hamburger.active > span:nth-child(1),
#nav_hamburger.active > span:nth-child(3) {
    transition-delay: .4s;
}

#nav_hamburger.active > span:nth-child(1) {
    transform: translateY(9px);
}
 
#nav_hamburger.active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}


.nav-modal-content a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    z-index: 2;
}

.nav-modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.nav-modal.active {
    display: block;
    gap: 2rem;
    animation: nav-modal .5s;
}

.nav-modal.close {
    animation: nav-modal-close .51s;
} 

.nav-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

@keyframes nav-modal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes nav-modal-close {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
  

@media screen and (max-width: 1000px) {
    .nav-container {
        justify-content: space-around;
    }

    .link {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    #nav_hamburger {
        display: block;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 450px) {

}


/* FOOTER */
.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    background-color: var(--footer);
    color: #fff;
    font-weight: 300;
    padding: 1rem 0rem;
    margin-top: 5rem;
}