/* MAIN CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ROOT */
:root {
    --pri-color: #53629E;
    --sec-color: ;
    --ter-color: ;

    --footer: #473472;
    --background-color: #f7f7f7;
    --icon-color: ;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--pri-color);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--pri-color);
    margin-bottom: .5rem;
    margin-top: 5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    margin-bottom: .5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--pri-color);
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: var(--pri-color) solid 1px;
    transition: .3s;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: var(--pri-color);
    color: #fff;
    scale: 1.05;
}

/* BUTTONS IN FORMS */
.actions {
    display: flex;
    justify-content:space-between;
    gap: 1rem;
}

/* INDEX */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

.card:hover {
    transform: translateY(-2px);
}

.card img {
    width:100%;
    height:300px;
    aspect-ratio: 1/1;
}

.card-name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.7rem;
    color: var(--pri-color);
    font-weight: 400;
}

.card p {
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}

.delete {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
    transition: .3s;
    color: #000;
    text-align: right;
    padding: .5rem;
}

.edit {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
    transition: .3s;
    color: #000;
    text-align: right;
    padding: .5rem;
}

.delete:hover {
    color: red;
}

.edit:hover {
    color: var(--pri-color);
}

/* DETAIL */
.mw model-viewer {
    width: 800px;
    height: 600px;
    margin: 2rem auto;
    background-color: #4f4f4f;
}

.thumb {
        display: none;
}

@media screen and (max-width: 820px) {
    .mw model-viewer {
        width: 450px;
        height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .mw model-viewer {
        width: 300px;
        height: 500px;
    }
}


/* UPLOAD AND EDIT */
section.main.main-form {
    height: 60vh;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
}

.text_input {
    width: 100%;
    font-size: 2rem;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    border: none;
    border-bottom: 1px solid #0c0c0c;
    outline: none;
    background: transparent;
    padding: relative;
}

.button-label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid var(--pri-color);
    color: var(--pri-color);
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

#upload, #upload3d {
    align-self: center;
}


/* LOADING */
.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.t2 {
    transition-delay: .2s;
}

/* FOOTER */
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--footer);
    color: #fff;
    font-weight: 300;
    padding: 1rem 0rem;
    margin-top: 5rem;
    text-align: center;
}