/* INDEX */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid #c7c7c7;
    background-color: rgb(238, 237, 237);
    border-radius: 8px;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.card img {
    max-width:100%;
    max-height:100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border: 1px solid #000000;
}

.card-name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    color: var(--pri-color);
    font-weight: 400;
}

/*.card model-viewer {
    width: auto;
    height: auto;
    border-radius: 4px;
    background: #777777;
}

.card p {
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}

.card a.delete {
    color: red;
    font-size: 0.9rem;
    display: block;
    margin-top: 0.3rem;
    text-decoration: none;
}

/*
#canvasContainer {

}

#Canvas { 
    border: 5px solid black;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}*/


/* DETAIL */
model-viewer {
    width: 600px;
    height: 400px;
    margin: 2rem auto;
    background-color: #f8f8f8;
}