/* INDEX */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

.card:hover {
    transform: translateY(-2px);
}

.card img {
    width:100%;
    height:300px;
    aspect-ratio: 1/1;
}

.card-name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.7rem;
    color: var(--pri-color);
    font-weight: 400;
}

.card p {
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}

.delete {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
    transition: .3s;
    color: #000;
    text-align: right;
    padding: .5rem;
}

.edit {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
    transition: .3s;
    color: #000;
    text-align: right;
    padding: .5rem;
}

.delete:hover {
    color: red;
}

.edit:hover {
    color: var(--pri-color);
}

/* DETAIL */
.mw model-viewer {
    width: 800px;
    height: 600px;
    margin: 2rem auto;
    background-color: #4f4f4f;
}

.thumb {
        display: none;
}

@media screen and (max-width: 820px) {
    .mw model-viewer {
        width: 450px;
        height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .mw model-viewer {
        width: 300px;
        height: 500px;
    }
}


/* UPLOAD AND EDIT */

section.main.main-form {
    height: 60vh;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
}

.text_input {
    width: 100%;
    font-size: 2rem;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    border: none;
    border-bottom: 1px solid #0c0c0c;
    outline: none;
    background: transparent;
    padding: relative;
}

.button-label {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid var(--pri-color);
    color: var(--pri-color);
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

#upload, #upload3d {
    align-self: center;
}

